body {
	margin-top:100px;
}

.entete {
	margin-top:100px;
	background-color: rgb(11, 12, 13);
}

h1 {
	color: rgb(231, 186, 5);
	border-color: rgb(211, 130, 0);
}

p {
	color: rgb(208, 215, 218);
}

h2 {
	color: rgb(232, 185, 15);
}

img.logo {
	width:250px;
}

h3 {
	color: goldenrod;
}

h4 {
	text-align: center;
	color: rgb(235, 188, 0);
}

body {
	background-color: rgb(85, 41, 9);
	color: rgb(255, 255, 255);
	size: 10px;
}


table,form {
	text-align: center;
	margin: 75px;
	background-color: rgb(0, 0, 0);
	border: 3px solid rgb(242, 204, 15);
    border-collapse: collapse;
    padding: 20px;
	color: white;
}

td,tr,th{
	color: white;
}

li {
	color: rgb(227, 194, 8);
}

label {
	color: rgb(246, 176, 0);
}

footer {
	text-align: center;
	background-color: rgb(11, 12, 13);
	top: 20px;
	height: 90px;
}