body {
	margin-top:100px;
}

.entete {
	margin-top:100px;
	background-color: rgb(31, 35, 38);
}

h1 {
	color: rgb(226, 192, 57);
	border-color: rgb(211, 130, 0);
}

p {
	color: rgb(208, 215, 218);
}

h2 {
	color: rgb(176, 143, 24);
}

img.logo {
	width:250px;
}

h4 {
	text-align: center;
	color: rgb(184, 149, 10);
}

body {
	background-color: rgb(75, 15, 15);
	color: white;
}


table,form {
	text-align: center;
	margin: 75px;
	background-color: rgb(144, 64, 64);
	border: 3px solid rgb(118, 135, 143);
    border-collapse: collapse;
    padding: 20px;
}

li {
	color: rgb(227, 194, 8);
}